{% extends 'rango/base.html'%}
{% block title_block %}
    {{category.name}}
{% endblock %}
{% load staticfiles %}
{% load bootstrap_toolkit %}
{% block title %}Add Category{% endblock %}
{% block body_block %}
<hr>
<form id="category_form" method="post"
action="{% url 'rango:add_category' %}">
<h2 class="form-signin-heading">Add a Category</h2>
{% csrf_token %}
 {% bootstrap_form form %}
<br/>
<button class="btn btn-primary" type="submit"
name="submit">Create Category</button>
</form>
{% endblock %}