{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title %} Search {% endblock %}

{% block body_block %}
<div>
    <hr/>
    <h1>Search with Rango</h1>
    <br/>
    <form class="form-inline" id="user_form" method="post" action="{% url 'rango:search' %}">
        {% csrf_token %}
        <div class="form-group">
            <input class="form-control" type="text" size="50" name="query" value="{{ q }}" id="query"/>

        </div>
        <button class="btn btn-primary" type="submit" name="submit" value="Search">Search</button>
    </form>
    <div>
        <hr/>
        {% if result_list %}
        <h3>搜索{{ q }}的结果为</h3>
        <div class="list-group">
            {% for result in result_list %}
            <div class="list_group-item">
                <h4 class="list-group-item-heading">
                    <a href="{{ result.link }}">
                        {{ result.title }}
                    </a>
                </h4>
                <p class="list-group-item-text">
                    {{ result.summary }}
                </p>
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}